body{
    background-color: #1b1919  
}

h1{
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: rgb(206, 206, 216);
}

h2{
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: normal;
    color: rgb(206, 206, 216);
}

h3{
    font-size: 16px;
    font-family: Comic Sans MS;
    font-weight: normal;
    color: rgb(206, 206, 216);
}

.wrapper{



}